<html>
{% load static %}

<title></title>

<script src={% static "js/form_validations_marketing.js" %}></script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href={% static "css/jquery.dataTables.min.css" %}>
<link rel="stylesheet" href={% static "css/w3.css" %}>
<link rel="stylesheet" href={% static "fonts/Raleway/Raleway-Regular.ttf" %}>
<link href={% static "font-awesome-4.7.0/css/font-awesome.min.css" %} rel="stylesheet">
<link rel="stylesheet" href={% static "css/jquery-confirm.min.css" %}>
<link href={% static "css/bootstrap.min.css" %} rel="stylesheet">
<script src={% static "js/jquery.min.js" %}></script>
<script src={% static "js/jquery.min.1.7.1.js" %}></script>
<script type="text/javascript" src={% static "js/jquery.dataTables.min.js" %} ></script>
<script type="text/javascript" src={% static "js/bootstrap.min.js" %} ></script>


<style>
table, th, td {
    border: 1px solid black;
    padding: 1%;
}
table {
    border-spacing: 15px;
}

/* The Modal (background) */


/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 82%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 32px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


</style>


<body class="w3-light-grey">



<script>
$(document).ready(function(){
    
    $('#enquiryTable').dataTable({
  aaSorting: [[1, 'dsc']]
});

});


</script>





<div class="w3-bar w3-top w3-khaki w3-large" style="z-index:4">
 
  <a href="{% url 'Administration:home_page' id=user.id %}"><button id="homepage" name="homepage" class="w3-button w3-red"><b>Home Page</b></button></a> 

  <span class="w3-bar-item w3-left"><b>Welcome: {{ user.username }} </b></a></span>
    
  <span class="w3-bar-item w3-right"><a href={% url 'Administration:add_payroll' id=user.id %}><button id="newpage" name="newpage" class="w3-button w3-green"><b>Add New</b></button></a></span>
  <!-- <span class="w3-bar-item w3-right"><button id="logoutBtn" name="logoutBtn" class="w3-button w3-red"><a href="{% url 'polls:Logout' id=user.id %}"><b>Logout</b></a></button></span> -->
 
</div>
<br/>
<br/>
<br/>
<br/>





<div class="w3-container w3-responsive">

{% if payroll_lists %}
<table class="table table-striped" id="enquiryTable">
<thead>
<tr>
  <th>Employee Name</th>
  <th>Payment Month</th>
  <th>Net Salary Given</th>
  <th>Salary Status</th>
  <th>Details</th>
  <th>Edit</th>
  

  
 
</tr>
</thead>
<tbody>
{% for payroll_list in payroll_lists %}
<tr>
    
    <td>{{ payroll_list.user.get_full_name }}</td>
    <td>{{ payroll_list.pay_month }}</td>
    <td>{{ payroll_list.net_salary }}</td>
    <td>{{ payroll_list.status }}</td>
    <td><button type="button" class="w3-button w3-teal"  onclick="updateCostModal(user='{{ payroll_list.user.get_full_name }}',
     	pay_month='{{payroll_list.pay_month}}', gross_salary ='{{payroll_list.gross_salary}}',no_of_leaves = '{{payroll_list.no_of_leaves}}',
		loss_of_amount = '{{payroll_list.loss_of_amount}}',advance_salary = '{{payroll_list.advance_salary}}' ,
		net_salary = '{{payroll_list.net_salary}}', status = '{{payroll_list.status}}');">Details</td>
    <td><a href={% url 'Administration:payroll_edit'  payroll_id=payroll_list.payroll_id id=user.id %}><button id="editBtn" name="editBtn" class="w3-button w3-green">Edit</button></td>
   
    
       
</tr>
{% endfor %}

</tbody>

</table>
{% else %}
  <p>No Payroll details are available</p>
{% endif %}	

</div>

<div id="updateCostModal" name="updateCostModal" class="modal" style="margin-left:120px;">

<!-- Modal content -->
 <div class="modal-content animate" id="updateCostModalContent" name="updateCostModalContent" >
  <span onclick="document.getElementById('updateCostModal').style.display='none'" class="close" title="Close Modal">&times;</span>
  <!------------------------------------------------------------------------------ -->

  
<form role="form" method="post" id="update_kit_form_id" class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin" action="#" enctype="multipart/form-data"  >
        {% csrf_token %}
<!-- <form action="/action_page.php" class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin"> -->
<h1 class="w3-center">Payment Details</h1>

<div class="w3-row-padding w3-section">

    <div class="w3-col" style="width:30%">
	  <label for="user"> User Details ::</label>
      <b><textarea id="user" name="user" class="w3-input w3-border w3-grey" value="" type="text"   readonly=""></textarea></b>
    </div>
	
	<div class="w3-col" style="width:25%">
	  <label for="pay_month">Payment Details ::</label>
      <b><textarea id="pay_month" name="pay_month" class="w3-input w3-border w3-grey" value="" type="text"   readonly=""></textarea></b>
    </div>
	
	<div class="w3-col" style="width:25%">
	  <label for="gross_salary">Gross Salary ::</label>
      <b><textarea id="gross_salary" name="gross_salary" class="w3-input w3-border w3-grey" value="" type="text"   readonly=""></textarea></b>
    </div>
	
	<div class="w3-col" style="width:20%">
	  <label for="status">Salary Status ::</label>
      <b><textarea id="status" name="status" class="w3-input w3-border w3-grey" value="" type="text"   readonly=""></textarea></b>
    </div>

</div>


<div class="w3-row-padding w3-section">

    <div class="w3-col" style="width:20%">
	  <label for="no_of_leaves">No of Leaves::</label>
      <b><textarea id="no_of_leaves" name="no_of_leaves" class="w3-input w3-border w3-grey" value="" type="text"   readonly=""></textarea></b>
    </div>
	
	<div class="w3-col" style="width:25%">
	  <label for="loss_of_amount">Loss of Pay ::</label>
      <b><textarea id="loss_of_amount" name="loss_of_amount" class="w3-input w3-border w3-grey" value="" type="text"   readonly=""></textarea></b>
    </div>
	
	<div class="w3-col" style="width:25%">
	  <label for="advance_salary">Advance Amount Taken ::</label>
      <b><textarea id="advance_salary" name="advance_salary" class="w3-input w3-border w3-grey" value="" type="text"   readonly=""></textarea></b>
    </div>
	
	<div class="w3-col" style="width:30%">
	  <label for="net_salary">Net Amount Payable::</label>
      <b><textarea id="net_salary" name="net_salary" class="w3-input w3-border w3-grey" value="" type="text"   readonly=""></textarea></b>
    </div>

</div>



</div>
</div>

</form>

</div>
    
</div>







<script>

function updateCostModal(user,pay_month,gross_salary,no_of_leaves,loss_of_amount,advance_salary,net_salary,status) {
               
    document.getElementById('updateCostModal').style.display='block';
    document.getElementById('user').value = user;
    document.getElementById('pay_month').value = pay_month;
    document.getElementById('gross_salary').value = gross_salary;
    document.getElementById('no_of_leaves').value = no_of_leaves;
    document.getElementById('loss_of_amount').value = loss_of_amount;
    document.getElementById('advance_salary').value = advance_salary;
    document.getElementById('net_salary').value = net_salary;
    document.getElementById('status').value = status;
    
}

</script>







</body>

