<html>
{% load static %}

<title>DPR Reports</title>
<link rel="icon" href={% static "images/dpr-srl.png" %} type="image/x-icon" />
<script src={% static "js/form_validations_marketing.js" %}></script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href={% static "css/jquery.dataTables.min.css" %}>
<link rel="stylesheet" href={% static "css/w3.css" %}>
<link rel="stylesheet" href={% static "fonts/Raleway/Raleway-Regular.ttf" %}>
<link href={% static "font-awesome-4.7.0/css/font-awesome.min.css" %} rel="stylesheet">
<link rel="stylesheet" href={% static "css/jquery-confirm.min.css" %}>
<link href={% static "css/bootstrap.min.css" %} rel="stylesheet">
<script src={% static "js/jquery.min.js" %}></script>
<script src={% static "js/jquery.min.1.7.1.js" %}></script>
<script type="text/javascript" src={% static "js/jquery.dataTables.min.js" %} ></script>
<script type="text/javascript" src={% static "js/bootstrap.min.js" %} ></script>


<style>
table, th, td {
    border: 1px solid black;
    padding: 1%;
}
table {
    border-spacing: 15px;
}

/* The Modal (background) */


/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 82%;
}

.modal {
    overflow-y: auto;
} 
 


/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 32px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

</style>


<body class="w3-light-grey">



<script>
$(document).ready(function(){
    
    $('#enquiryTable').dataTable({
  aaSorting: [[0, 'dsc']]
});

});
</script>


<div class="w3-bar w3-top w3-khaki w3-large" style="z-index:4">
  <span class="w3-bar-item w3-left"> <b>Welcome: {{ user.username }} </b></span> 
  <a href="{% url 'Staff:home_page' id=user.id %}"><button id="homepage" name="homepage" class="w3-button w3-red"><b>Home Page</b></button></a> 
  <span class="w3-bar-item w3-right"><button id="newpage" name="newpage" class="w3-button w3-green"> <a href="{% url 'Staff:dpr_form' id=user.id %}"><b>Add New+</b></button></a></span>
</div>
<br/>
<br/>
<br/>


<h2 class="w3-center"><b>Current DPR List</b></h2>

<div class="w3-container w3-responsive">
{% if enquiries_list %}
<table class="table table-striped" id="enquiryTable">
<thead>
<tr>
  <!-- <th>Enquiry ID</th> -->
  <th>Date</th>
  <th>Emp Code</th>
  <th>DPR Number</th>
  <th>DPR Month</th>
  <th>Pros Name</th>
  <th>View Details</th>
</tr>
</thead>
<tbody>
{% for enquiry in enquiries_list %}
<tr>
    
    <!-- <td>{{ enquiry.enquiry_id }}</td> -->
    <td>{{ enquiry.enquiry_date }}</td>
	<td>{{ enquiry.emp_code }}</td>
	<td>{{ enquiry.dpr_no }}</td>
	<td>{{ enquiry.dpr_month }}</td>
	<td>{{ enquiry.pros_name }}</td>
	
    <td> <button type="button" class="btn  btn-success"  onclick="updateCostModal(enquiry_id='{{ enquiry.enquiry_id }}',enquiry_date='{{ enquiry.enquiry_date }}', emp_code='{{enquiry.emp_code}}',
            dpr_no='{{enquiry.dpr_no}}', dpr_month='{{enquiry.dpr_month}}', pros_name='{{enquiry.pros_name}}', pros_date='{{enquiry.pros_date}}', 
            pros_month='{{enquiry.pros_month}}',pros_year='{{enquiry.pros_year}}',enquiry_by='{{enquiry.enquiry_by}}',relation='{{enquiry.relation}}',
            pros_state='{{enquiry.pros_state}}',pros_city='{{enquiry.pros_city}}',
            pros_course='{{enquiry.pros_course}}',pros_other='{{enquiry.pros_other}}',pros_interest_states_1='{{enquiry.pros_interest_states_1}}',
            pros_interest_states_2='{{enquiry.pros_interest_states_2}}',pros_interest_states_3='{{enquiry.pros_interest_states_3}}',
            pros_10_marks='{{enquiry.pros_10_marks}}',pros_12_marks='{{enquiry.pros_12_marks}}', pros_subject_1='{{enquiry.pros_subject_1}}',
            pros_subject_2='{{enquiry.pros_subject_2}}',pros_subject_3='{{enquiry.pros_subject_3}}', pros_entrance_exam1='{{enquiry.pros_entrance_exam1}}',
            pros_entrance_exam2 ='{{enquiry.pros_entrance_exam2}}',pros_entrance_exam3 ='{{enquiry.pros_entrance_exam3}}',
            pros_entrance_exam4 ='{{enquiry.pros_entrance_exam4}}',pros_budget = '{{enquiry.pros_budget}}',
            pros_register_date = '{{enquiry.pros_register_date}}', pros_register_month = '{{enquiry.pros_register_month}}',pros_register_year = '{{enquiry.pros_register_year}}',
            pros_register_remarks='{{enquiry.pros_register_remarks}}');">View Details</button></td>   
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
  <p>No Enquiry's are available</p>
{% endif %}	
</div>

<div id="updateCostModal" name="updateCostModal" class="modal" style="margin-left:120px;">

<!-- Modal content -->
 <div class="modal-content animate" id="updateCostModalContent" name="updateCostModalContent" >
  <span onclick="document.getElementById('updateCostModal').style.display='none'" class="close" title="Close Modal">&times;</span>
  <!------------------------------------------------------------------------------ -->

  
<form role="form" method="post" id="update_kit_form_id" class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin" action="#" enctype="multipart/form-data"  >
        {% csrf_token %}
<!-- <form action="/action_page.php" class="w3-container w3-card-4 w3-light-grey w3-text-blue w3-margin"> -->
<h1 class="w3-center">DPR Details</h1>

<div class="w3-row-padding w3-section">

    <div class="w3-col" style="width:20%">
	  <label for="enquiry_id"> Enquiry Id:: </label>
      <input id="enquiry_id" name="enquiry_id" class="w3-input w3-border w3-grey" value="" type="text"   readonly="">
    </div>


    <div class="w3-col" style="width:20%">
	  <label for="enquiry_date"> Enquiry Date & Time:: </label>
      <input id="enquiry_date" name="enquiry_date" class="w3-input w3-border w3-grey" value="" type="text" readonly="">
    </div>

    <div class="w3-col" style="width:20%">
	  <label for="emp_code"> Emp Code:: </label>
      <input id="emp_code" name="emp_code" class="w3-input w3-border w3-grey" value="" type="text" placeholder="not given"  readonly="">
    </div>
   
   <div class="w3-col" style="width:20%">
	  <label for="dpr_no"> Dpr No:: </label>
      <input id="dpr_no" name="dpr_no" class="w3-input w3-border w3-grey" value=""  type="text" placeholder="not given" readonly="" >
   </div>
   
   <div class="w3-col" style="width:20%">
	  <label for="dpr_month"> Dpr Month:: </label>
      <input id="dpr_month" name="dpr_month" class="w3-input w3-border w3-grey" value="" type="text"  placeholder="Sort Number">
   </div>
   
   
</div>

<div class="w3-row-padding w3-section">

    <div class="w3-col" style="width:20%">
	  <label for="pros_name"> Prospective Name:: </label>
      <input id="pros_name" name="pros_name" class="w3-input w3-border w3-grey" value="" type="text"  placeholder="not given" readonly="">
    </div>


    <div class="w3-col" style="width:10%">
	  <label for="pros_date">  DOB:: </label>
      <input id="pros_date" name="pros_date" class="w3-input w3-border w3-grey" value="" type="text" placeholder="not given"  readonly="">
    </div>

    <div class="w3-col" style="width:10%">
	  <label for="pros_month">  Month:: </label>
      <input id="pros_month" name="pros_month" class="w3-input w3-border w3-grey" value="" type="text"  placeholder="not given" readonly="">
    </div>
   
   <div class="w3-col" style="width:10%">
	  <label for="pros_year">  Year:: </label>
      <input id="pros_year" name="pros_year" class="w3-input w3-border w3-grey" value=""  type="text" placeholder="not given" readonly="" >
   </div>
   
   <div class="w3-col" style="width:25%">
	  <label for="enquiry_by"> Enquiry By:: </label>
      <input id="enquiry_by" name="enquiry_by" class="w3-input w3-border w3-grey" value="" type="text"  placeholder="not given" readonly="">
   </div>
   
   <div class="w3-col" style="width:25%">
	  <label for="relation"> Relationship:: </label>
      <input id="relation" name="relation" class="w3-input w3-border w3-grey" value="" type="text"  placeholder="not given" readonly="">
   </div>
   
   <!-- <div class="w3-col" style="width:12.5%"> -->
	  <!-- <label for="phone1"> Phone 1:: </label> -->
      <!-- <input id="phone1" name="phone1" class="w3-input w3-border w3-grey" value="" type="text" placeholder="not given"  readonly=""> -->
   <!-- </div> -->
   
   <!-- <div class="w3-col" style="width:12.5%"> -->
	  <!-- <label for="phone2"> Phone 2:: </label> -->
      <!-- <input id="phone2" name="phone2" class="w3-input w3-border w3-grey" value="" type="text"  placeholder="not given" readonly=""> -->
   <!-- </div> -->
   
</div>



<div class="w3-row-padding w3-section">

    <div class="w3-col" style="width:25%">
	  <label for="pros_state"> Prospective State:: </label>
      <input id="pros_state" name="pros_state" class="w3-input w3-border w3-grey" value="" type="text" placeholder="not given" readonly="">
    </div>


    <div class="w3-col" style="width:25%">
	  <label for="pros_city">  Prospective City:: </label>
      <input id="pros_city" name="pros_city" class="w3-input w3-border w3-grey" value="" type="text" placeholder="not given" readonly="">
    </div>

    <div class="w3-col" style="width:25%">
	  <label for="pros_course">  Prospective Course:: </label>
      <input id="pros_course" name="pros_course" class="w3-input w3-border w3-grey" value="" type="text" placeholder="not given" readonly="">
    </div>
   
   <div class="w3-col" style="width:25%">
	  <label for="pros_other">  Other:: </label>
      <input id="pros_other" name="pros_other" class="w3-input w3-border w3-grey" value=""  type="text" placeholder="not given" readonly="" >
   </div>
   
   
   
</div>

<div class="w3-row-padding w3-section">

 <div class="w3-col" style="width:30%">
	  <label for="pros_interest_states_1"> State1:: </label>
      <input id="pros_interest_states_1" name="pros_interest_states_1" class="w3-input w3-border w3-grey" value="" type="text" required="" placeholder="not given" readonly="">
   </div>
   
   <div class="w3-col" style="width:30%">
	  <label for="pros_interest_states_2"> State2:: </label>
      <input id="pros_interest_states_2" name="pros_interest_states_2" class="w3-input w3-border w3-grey" value="" type="text" required=""  placeholder="not given" readonly="">
   </div>
   
   <div class="w3-col" style="width:30%">
	  <label for="pros_interest_states_3"> State3:: </label>
      <input id="pros_interest_states_3" name="pros_interest_states_3" class="w3-input w3-border w3-grey" value="" type="text" required="" placeholder="not given" readonly="">
   </div>

</div>

<div class="w3-row-padding w3-section">

 <div class="w3-col" style="width:15%">
	  <label for="pros_10_marks"> 10th:: </label>
      <input id="pros_10_marks" name="pros_10_marks" class="w3-input w3-border w3-grey" value="" type="text" required="" placeholder="not given" readonly="">
   </div>
   
   <div class="w3-col" style="width:15%">
	  <label for="pros_12_marks"> 12th:: </label>
      <input id="pros_12_marks" name="pros_12_marks" class="w3-input w3-border w3-grey" value="" type="text" required="" placeholder="not given" readonly="">
   </div>
   
   <div class="w3-col" style="width:20%">
	  <label for="pros_subject_1"> Core Subject1:: </label>
      <input id="pros_subject_1" name="pros_subject_1" class="w3-input w3-border w3-grey" value="" type="text" required="" placeholder="not given" readonly="">
   </div>
   
   <div class="w3-col" style="width:20%">
	  <label for="pros_subject_2"> Core Subject2:: </label>
      <input id="pros_subject_2" name="pros_subject_2" class="w3-input w3-border w3-grey" value="" type="text" required="" placeholder="not given" readonly="">
   </div>
   
   <div class="w3-col" style="width:20%">
	  <label for="pros_subject_3"> Core Subject3:: </label>
      <input id="pros_subject_3" name="pros_subject_3" class="w3-input w3-border w3-grey" value="" type="text" required="" placeholder="not given" readonly="">
   </div>

</div>


<div class="w3-row-padding w3-section">

 <div class="w3-col" style="width:20%">
	  <label for="pros_entrance_exam1"> Enterance Exam 1:: </label>
      <input id="pros_entrance_exam1" name="pros_entrance_exam1" class="w3-input w3-border w3-grey" value="" type="text" required=""  placeholder="not given" readonly="">
   </div>
   
   <div class="w3-col" style="width:20%">
	  <label for="pros_entrance_exam2"> Enterance Exam 2:: </label>
      <input id="pros_entrance_exam2" name="pros_entrance_exam2" class="w3-input w3-border w3-grey" value="" type="text" required=""  placeholder="not given" readonly="">
   </div>
   
   <div class="w3-col" style="width:20%">
	  <label for="pros_entrance_exam3"> Enterance Exam 3:: </label>
      <input id="pros_entrance_exam3" name="pros_entrance_exam3" class="w3-input w3-border w3-grey" value="" type="text" required="" placeholder="not given" readonly="">
   </div>
   
   <div class="w3-col" style="width:20%">
	  <label for="pros_entrance_exam4"> Enterance Exam 4:: </label>
      <input id="pros_entrance_exam4" name="pros_entrance_exam4" class="w3-input w3-border w3-grey" value="" type="text" required="" placeholder="not given" readonly="">
   </div>
   

</div>


<div class="w3-row-padding w3-section">

 <div class="w3-col" style="width:15%">
	  <label for="pros_budget"> Prospective Budget:: </label>
      <input id="pros_budget" name="pros_budget" class="w3-input w3-border w3-grey" value="" type="text" required="" placeholder="not given" readonly="">
   </div>
   
   <div class="w3-col" style="width:10%">
	  <label for="pros_register_date"> Register Date:: </label>
      <input id="pros_register_date" name="pros_register_date" class="w3-input w3-border w3-grey" value="" type="text" required="" placeholder="not given" readonly="">
   </div>
   
   <div class="w3-col" style="width:10%">
	  <label for="pros_register_month"> Register Month:: </label>
      <input id="pros_register_month" name="pros_register_month" class="w3-input w3-border w3-grey" value="" type="text" required="" placeholder="not given" readonly="">
   </div>
   
   <div class="w3-col" style="width:10%">
	  <label for="pros_register_year"> Register Year:: </label>
      <input id="pros_register_year" name="pros_register_year" class="w3-input w3-border w3-grey" value="" type="text" required="" placeholder="not given" readonly="">
   </div>
   
</div>

<div class="w3-row-padding w3-section">

   
   <div class="w3-col" style="width:100%;">
	  <label for="pros_register_remarks"> Remarks:: </label>
      <textarea id="pros_register_remarks" name="pros_register_remarks" class="w3-input w3-border w3-grey" value="" type="text" placeholder="not given" readonly=""></textarea>
   </div>

</div>


<!-- <button class="w3-button w3-teal" type="submit" id="export-btn" name="action">Submit</button> -->
 <!-- <a id="updateCostModalCancel" onclick="document.getElementById('updateCostModal').style.display='none'" class="w3-button w3-red">Cancel</a> -->
</div>
</div>

</form>

</div>
    
</div>








<script>

function updateCostModal(enquiry_id,enquiry_date,emp_code,dpr_no,dpr_month,pros_name,pros_date,pros_month,pros_year,enquiry_by,relation,
                 pros_state,pros_city,pros_course,pros_other,pros_interest_states_1,pros_interest_states_2,pros_interest_states_3,
                 pros_10_marks,pros_12_marks,pros_subject_1,pros_subject_2,pros_subject_3,pros_entrance_exam1,pros_entrance_exam2,
                 pros_entrance_exam3,pros_entrance_exam4,pros_budget,pros_register_date,pros_register_month,pros_register_year,pros_register_remarks) {
               
    document.getElementById('updateCostModal').style.display='block';
    document.getElementById('enquiry_id').value = enquiry_id;
    document.getElementById('enquiry_date').value = enquiry_date;
    document.getElementById('emp_code').value = emp_code;
    document.getElementById('dpr_no').value = dpr_no;
    document.getElementById('dpr_month').value = dpr_month;
    document.getElementById('pros_name').value = pros_name;
    document.getElementById('pros_date').value = pros_date;
    document.getElementById('pros_month').value = pros_month;
    document.getElementById('pros_year').value = pros_year;
    document.getElementById('enquiry_by').value = enquiry_by;
    document.getElementById('relation').value = relation;
    document.getElementById('pros_state').value = pros_state;
    document.getElementById('pros_city').value = pros_city;
    document.getElementById('pros_course').value = pros_course;
    document.getElementById('pros_other').value = pros_other;
    document.getElementById('pros_interest_states_1').value = pros_interest_states_1;
    document.getElementById('pros_interest_states_2').value = pros_interest_states_2;
    document.getElementById('pros_interest_states_3').value = pros_interest_states_3;
    document.getElementById('pros_10_marks').value = pros_10_marks;
    document.getElementById('pros_12_marks').value = pros_12_marks;
    document.getElementById('pros_subject_1').value = pros_subject_1;
    document.getElementById('pros_subject_2').value = pros_subject_2;
    document.getElementById('pros_subject_3').value = pros_subject_3;
    document.getElementById('pros_entrance_exam1').value = pros_entrance_exam1;
    document.getElementById('pros_entrance_exam2').value = pros_entrance_exam2;
    document.getElementById('pros_entrance_exam3').value = pros_entrance_exam3;
    document.getElementById('pros_entrance_exam4').value = pros_entrance_exam4;
    document.getElementById('pros_budget').value = pros_budget;
    document.getElementById('pros_register_date').value = pros_register_date;
    document.getElementById('pros_register_month').value = pros_register_month;
    document.getElementById('pros_register_year').value = pros_register_year;
    document.getElementById('pros_register_remarks').value = pros_register_remarks;

    
}

</script>

<footer class="w3-container w3-padding-16">
  </br>
    <h4><a href="#">DPR©</a></h4>

</footer>


</body>

